.dropdown-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    background: rgba(14, 14, 14, 0.534);
    position: absolute;
    width: 50%;
    z-index: 1000;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer !important; /* Changes cursor to pointer */
    transition: background 0.2s ease-in-out;
}

.dropdown-item:hover {
    background: #161515; /* Light gray background on hover */
}